<%- include('partials/header.ejs') %>
  <style>
    .carousel-inner img {
      width: 100%;
      height: 25%;
    }
  </style>


  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="images/about.jpg"
          alt="slide one" width="50" height="50">
        <div class="carousel-caption">
          <h3>Decentralized Crowd Funding Platform</h3>
          <p>Powered by blockchain, our platform ensures transparency, security. Smart contracts automate the process, making fundraising efficient and trustworthy.</p>
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <%- include('partials/footer.ejs') %>