<%- include('partials/header.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />
<style>
  #editor {
    height: 10rem;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    }
</style>
  <div class="container mt-3">
    <main class="form-post w-100 m-auto mt-3 p-4 card">
      <h3>Create a project...</h3>
      <form id="project_from" method="post" onsubmit="handleSubmit(event)" class="mt-2">
        <div class="form-floating">
          <input type="text" class="form-control" id="title" name="title" placeholder="title" required>
          <label for="title">Title</label>
        </div>
        <!-- <div class="form-floating mt-3">
          <img id="img_display" style="width: 100px; display: none;" />
          <input onchange="uploadToIPFS()" type="file" class="form-control" id="image" name="image" accept="image/png, image/jpeg" required>
          <label for="image">Image</label>
        </div> -->
        <label class="mt-3">Description</label>
        <div class="form-floating" >
          <textarea style="display:none" rows="5" id="description" name="description" class="w-100 mt-3 p-2 pt-4"
            style="border-color: #eeeeee"></textarea>
          
          <div id="editor">
          </div>
        </div>

        <div class="input-group mt-3">
          <span class="input-group-text">ETH</span>
          <input type="number" class="form-control"  step=".01" id="target" name="target" placeholder="Target" required>
        </div>
        
        <div class="form-floating mt-3">
          <input type="datetime-local" class="form-control" id="deadline" name="deadline" placeholder="Deadline" required>
          <label for="deadline">Deadline</label>
        </div>

        <div class="form-floating mt-3">
          <input type="text" class="form-control" id="image" name="image" placeholder="" required>
          <label for="image">Image</label>
        </div>
        <button class="btn btn-primary w-100 py-2 my-3" type="submit">Create</button>
      </form>
      
    </main>
  </div>

  <%- include('partials/footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
  <script>
    $(async function(){
      const quill = new Quill('#editor', {
        theme: 'snow'
      });
    })
    

  // Validate url
  const isValidUrl = (url) => {
    const urlRegex = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)/;
    return urlRegex.test(url);
  }



      // Create Project through smart contract
      const createProject = (title, description, target, deadline, image) => {
        const data = window.contract.methods.create(localStorage.getItem(ACCOUNT), title, description, target, deadline, image).send({ from: localStorage.getItem(ACCOUNT) }).then((result) => {
          window.location.href = "/";
        });
      }


      // Handle submit
      const handleSubmit = (event) => {
        event.preventDefault();
        $("#description").val(quill.root.innerHTML);
        const form = event.target;
        const formData = new FormData(form);
        const project = {};
        formData.forEach(function (value, key) {
          project[key] = value;
        });

        // validate data
        if(!project['title']) {
          $("#toast-body").html("Title can not be empty!");
          toastBootstrap.show();
          return;
        }

        if(!project['target']) {
          $("#toast-body").html("Target can not be empty!");
          toastBootstrap.show();
          return;
        }

        if(!project['deadline']) {
          $("#toast-body").html("Deadline can not be empty!");
          toastBootstrap.show();
          return;
        }

        if(new Date(project['deadline']) <= new Date()) {
          $("#toast-body").html("The deadline should be a date in the future.!");
          toastBootstrap.show();
          return;
        }
        if(!project['image'] || !isValidUrl(project['image'])) {
          $("#toast-body").html("Invalid image url!");
          toastBootstrap.show();
          return;
        }



        if (!localStorage.getItem('account')) {
          $("#toast-body").html("Please connect your wallet first");
          toastBootstrap.show();
          return;
        }
        createProject(project['title'], project['description'], project['target'] * 1000000000000000000, new Date(project['deadline']).getTime(), project['image']);

      }

      $(async function () {
        //Connect to contract
        await connectContract();


      })

  </script>