<%- include('partials/header.ejs') %>
  <div class="container">
    <div class="col-lg-12 px-2 my-5 py-3">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="images/hero.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1">Decentralized Crowd Funding Platform</h1>
          <p class="lead">Powered by blockchain, our platform ensures transparency, security. Smart contracts automate the process, making fundraising efficient and trustworthy.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/create" class="nav-link">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Launch Project</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center my-3">Latest Projects</h1>
    <div id="project_cards" class="row row-cols-1 row-cols-lg-3 align-items-stretch g-3">
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
    <script>


      const PROJECTS = "projects";
      // Get projects from blockchain and display it
      const getProjects = async () => {
        const projects = await window.contract.methods.getProjects().call();
        localStorage.setItem(PROJECTS, JSON.stringify(projects));

      }

      // Display projects
      const displayProjects = () => {
        projects = JSON.parse(localStorage.getItem(PROJECTS))
        for (i = projects.length - 1; i >= 0; i--) {
          project_html = `
          
          <div class="col">
            <a href="/projects/${i}" class="nav-link">
            <div class="card card-cover object-fit-fill h-100 overflow-hidden text-bg-dark"
              style="background-image: url('${projects[i].image}'); background-size: cover;">
              <div class="d-flex flex-column h-100 p-3 pb-3 text-white text-shadow-1">
                <h4 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="text-shadow: 2px 2px 4px #000000;">${projects[i].title}</h4>
                <ul class="d-flex list-unstyled mt-auto" style="font-weight: bolder;" >
                  <li class="me-auto">
                    <small>
                      <span class="badge rounded-pill bg-warning" style="font-size:14px; font-weight:bolder;">
                        <stong>${web3.utils.fromWei(projects[i].collected, 'ether')} funded / target ${web3.utils.fromWei(projects[i].target, 'ether')}</strong>
                           ETH</span></small>
                  </li>
                 
                  <li class="d-flex align-items-center"> 
                    <small>
                      <span style="font-size:14px; font-weight:bolder; text-shadow: 2px 2px 4px #000000;">
                      Deadline: ${new Date(parseInt(projects[i].deadline)).toLocaleDateString()}
                      </span>
                    </small>
                  </li>
                </ul>
              </div>
            </div>
          </a>
          </div>
          
          `;
          $("#project_cards").append(project_html);
        }
      }


      $(async function () {
        //Connect to contract
        await connectContract();

        //Display Projects
        await getProjects();
        displayProjects();
      })

    </script>